<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzx.mapper.ArticleMapper">
    <insert id="insertArticleTagRelation">
        INSERT INTO lzx_article_tag(article_id, tag_id)
            values
                <foreach collection="tags" index="index" item="Tag" open="" close="" separator=",">
                    (#{articleId}, #{Tag})
                </foreach>

    </insert>
    <delete id="deleteOldArticleTagRelationById">
        DELETE
        FROM `lzx_article_tag`
        WHERE article_id = #{id}
    </delete>
    <select id="getTagIdByArticleId" resultType="java.lang.Long">
        SELECT tag_id
        FROM `lzx_article_tag`
        WHERE article_id = #{id}
    </select>
    <select id="getArticleIdByTagId" resultType="java.lang.Long">
        SELECT ta.article_id
        FROM `lzx_article_tag` ta
                 INNER JOIN (
                    SELECT id
                    FROM lzx_article
                    WHERE del_flag=0 AND status = 0
                      <if test="articleListDto.lastPageMaxArticleId != null">
                      AND id>${articleListDto.lastPageMaxArticleId}
                      </if>
                    ORDER BY is_top DESC, id) AS a
                 ON a.id = ta.article_id
        WHERE ta.tag_id = ${articleListDto.tagId}
        LIMIT ${pageSize};
    </select>
    <select id="getTotalByArticleAndTag" resultType="java.lang.Long">
        SELECT Count(ta.article_id)
            FROM `lzx_article_tag` ta
            INNER JOIN (
                SELECT id
                FROM lzx_article
                WHERE del_flag=0 AND status = 0
                <if test="articleListDto.lastPageMaxArticleId != null">
                    AND id>${articleListDto.lastPageMaxArticleId}
                </if>) AS a
            ON a.id = ta.article_id
            WHERE ta.tag_id = ${articleListDto.tagId}
    </select>
</mapper>